 
[submodule "src/core/C/rt_biquad"]
	path = src/core/C/rt_biquad
	url = https://github.com/Ic3zy/rt-biquad-filter
[submodule "src/core/C/wayland-volume-osd"]
	path = src/core/C/wayland-volume-osd
	url = https://github.com/Ic3zy/wayland-volume-osd
[submodule "src/core/C/lv2-api"]
	path = src/core/C/lv2-api
	url = https://github.com/Ic3zy/audiomeeter-lv2-simple-api.git
