[Desktop Entry]
Name=AudioMeeter
Comment=Virtual Audio Mixer for Linux (PipeWire)
Exec=audiomeeter
Icon=audiomeeter
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Mixer;
