Circle_slider {
    qproperty-sliderSize: 110;
    background-color: #4a6173;
    selection-background-color: #d0d0d2;
    outline-color: #d0d0d2;
    color: #ffffff;
    border: none;                        
}