/* The track/background rail of the slider */
QSlider::groove:vertical {
    background: #2c3d4d;
    height: 220px;
    width: 15px;
    border: 1px solid #71c49a;
    border-radius: 7.5px;
}

/* The moving knob/handle of the slider */
QSlider::handle:vertical {
    background: #4c5e67;
    border: 1px solid #71c49a;
    height: 35px; 
    width: 15px;
    margin: -11px -11px -11px -11px;
    border-radius: 17px;
}

/* The slider knob when you hover your mouse over it */
QSlider::handle:vertical:hover {
    background: #677a8a;
}

/* The filled/active colored area below the slider knob */
QSlider::add-page:vertical {
    background: #71c49a;
    border-radius: 7.5px;
}